<%- (include('../partials/header')) %>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to to YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over hte world</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new"> Add a new campground </a>
        </p>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most popular Campgrounds</h3>
        </div>
    </div>

    <div class="row" style="display: flex;  flex-wrap: wrap;">
        <% campgrounds.forEach(function(c) { %>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-xs-6 ">
                <div  class="thumbnail">
                   <img style="height: 220px;" src="<%= c.image %>">
                   <h4 style="text-align: center;"> <%= c.name %> </h4> 
                   <a href="/campgrounds/<%=c._id%>" class="btn btn-primary">More info</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- (include('../partials/footer')) %>